In [1]:
from pyspark.sql import SparkSession,types,functions

In [2]:
spark = (SparkSession.builder.appName('PySpark-Project').getOrCreate())

In [3]:
orders_data = spark.read.parquet('orders_data.parquet')
orders_data.toPandas().head()

,order_date,order_id,product,product_id,category,purchase_address,quantity_ordered,price_each,cost_price,turnover,margin
0,2023-01-22 21:25:00,141234,iPhone,5.638009e+12,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000
1,2023-01-28 14:15:00,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750
2,2023-01-17 13:33:00,141236,Wired Headphones,2.113973e+12,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900
3,2023-01-05 20:33:00,141237,27in FHD Monitor,3.069157e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965
4,2023-01-25 11:59:00,141238,Wired Headphones,9.692681e+12,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950

In [4]:
orders_data.printSchema()

root
 |-- order_date: timestamp_ntz (nullable = true)
 |-- order_id: long (nullable = true)
 |-- product: string (nullable = true)
 |-- product_id: double (nullable = true)
 |-- category: string (nullable = true)
 |-- purchase_address: string (nullable = true)
 |-- quantity_ordered: long (nullable = true)
 |-- price_each: double (nullable = true)
 |-- cost_price: double (nullable = true)
 |-- turnover: double (nullable = true)
 |-- margin: double (nullable = true)

In [ ]:
#Criação de uma coluna para informar em qual parte do dia foi feito o pedido
orders_data = (         
    orders_data
    .withColumn(
        'time_of_day',
        functions.when((functions.hour('order_date') >= 0)& (functions.hour('order_date')<=5),'night')
        .when((functions.hour('order_date')>= 6)& (functions.hour('order_date')<=11),'morning')
        .when((functions.hour('order_date')>=12) & (functions.hour('order_date')<=17),'afternoon')
        .when((functions.hour('order_date')>=18)& (functions.hour('order_date')<=23),'evening')
        .otherwise(None)
    )
    #Após criar a coluna extra para identificar o periodo do pedido, criaremos o filtro
    .filter(functions.col('time_of_day')!='night')

    #Agora podemos alterar o tipo do dado
    .withColumn('order_date',functions.col('order_date').cast(types.DateType()))

)

In [ ]:
#Visualização após criação da nova coluna
orders_data.show()

+----------+--------+--------------------+-----------------+------------+--------------------+----------------+----------+------------------+--------+--------+-----------+
|order_date|order_id|             product|       product_id|    category|    purchase_address|quantity_ordered|price_each|        cost_price|turnover|  margin|time_of_day|
+----------+--------+--------------------+-----------------+------------+--------------------+----------------+----------+------------------+--------+--------+-----------+
|2023-01-22|  141234|              iPhone|5.638008983335E12|   Vêtements|944 Walnut St, Bo...|               1|     700.0|             231.0|   700.0|   469.0|    evening|
|2023-01-28|  141235|Lightning Chargin...|5.563319511488E12|Alimentation|185 Maple St, Por...|               1|     14.95|             7.475|   14.95|   7.475|  afternoon|
|2023-01-17|  141236|    Wired Headphones| 2.11397339522E12|   Vêtements|538 Adams St, San...|               2|     11.99|             5.995|   23.98|   11.99|  afternoon|
|2023-01-05|  141237|    27in FHD Monitor|3.069156759167E12|      Sports|738 10th St, Los ...|               1|    149.99|           97.4935|  149.99| 52.4965|    evening|
|2023-01-25|  141238|    Wired Headphones|9.692680938163E12|Électronique|387 10th St, Aust...|               1|     11.99|             5.995|   11.99|   5.995|    morning|
|2023-01-29|  141239|AAA Batteries (4-...|2.953868554188E12|Alimentation|775 Willow St, Sa...|               1|      2.99|             1.495|    2.99|   1.495|    evening|
|2023-01-26|  141240|27in 4K Gaming Mo...|5.173670800988E12|   Vêtements|979 Park St, Los ...|               1|    389.99|128.69670000000002|  389.99|261.2933|  afternoon|
|2023-01-05|  141241|USB-C Charging Cable|8.051736777568E12|   Vêtements|181 6th St, San F...|               1|     11.95|             5.975|   11.95|   5.975|  afternoon|
|2023-01-01|  141242|Bose SoundSport H...|1.508418177978E12|Électronique|867 Willow St, Lo...|               1|     99.99|            49.995|   99.99|  49.995|    morning|
|2023-01-22|  141243|Apple Airpods Hea...| 1.38634421159E12|Électronique|657 Johnson St, S...|               1|     150.0|              97.5|   150.0|    52.5|    evening|
|2023-01-07|  141244|Apple Airpods Hea...|4.332898830865E12|   Vêtements|492 Walnut St, Sa...|               1|     150.0|              97.5|   150.0|    52.5|    morning|
|2023-01-31|  141245|  Macbook Pro Laptop|1.169379570345E12|   Vêtements|322 6th St, San F...|               1|    1700.0|             561.0|  1700.0|  1139.0|    morning|
|2023-01-09|  141246|AAA Batteries (4-...|4.436184749366E12|   Vêtements|618 7th St, Los A...|               3|      2.99|             1.495|    8.97|   4.485|    evening|
|2023-01-25|  141247|    27in FHD Monitor|7.313825995563E12|   Vêtements|512 Wilson St, Sa...|               1|    149.99|           97.4935|  149.99| 52.4965|    evening|
|2023-01-03|  141248|       Flatscreen TV| 4.06275646306E12|Électronique|363 Spruce St, Au...|               1|     300.0|              99.0|   300.0|   201.0|    evening|
|2023-01-05|  141249|    27in FHD Monitor|9.643428300795E12|Alimentation|440 Cedar St, Por...|               1|    149.99|           97.4935|  149.99| 52.4965|  afternoon|
|2023-01-10|  141250|     Vareebadd Phone|6.721780072847E12|Alimentation|471 Center St, Lo...|               1|     400.0|             132.0|   400.0|   268.0|    morning|
|2023-01-24|  141251|Apple Airpods Hea...|2.700099961823E12|Alimentation|414 Walnut St, Bo...|               1|     150.0|              97.5|   150.0|    52.5|    morning|
|2023-01-30|  141252|USB-C Charging Cable|3.692435232121E12|      Sports|220 9th St, Los A...|               1|     11.95|             5.975|   11.95|   5.975|    morning|
|2023-01-08|  141254|AAA Batteries (4-...|8.219536039183E12|Électronique|238 Sunset St, Se...|               1|      2.99|             1.495|    2.99|   1.495|    morning|
+----------+--------+--------------------+-----------------+------------+--------------------+----------------+----------+------------------+--------+--------+-----------+
only showing top 20 rows

In [7]:
orders_data.select('category').distinct().show()

+------------+
|    category|
+------------+
|Électronique|
|      Sports|
|   Vêtements|
|Alimentation|
+------------+

In [8]:
#Removendo TV's da tabela já que a loja não comercializa mais e garantindo todos os dados em minúsculo
orders_data = (
    orders_data
    .withColumn('product',functions.lower('product'))
    .withColumn('category',functions.lower('category'))
    .filter(~functions.col('product').contains('tv'))
)

In [ ]:
#Coluna para informar de onde foi feito o pedido e qual o destino do pedido
orders_data = (
    orders_data
    .withColumn('address_split',functions.split('purchase_address',' '))
    .withColumn('purchase_state',functions.col('address_split').getItem(functions.size('address_split')-2))
    .drop('address_split')

)

In [ ]:
#Conferindo quantidade de pedidos por estado
n_states = orders_data.groupBy("purchase_state").count().orderBy(functions.desc("count"))
n_states.show()

+--------------+-----+
|purchase_state|count|
+--------------+-----+
|            CA|68292|
|            NY|22831|
|            TX|22773|
|            MA|18360|
|            GA|13624|
|            WA|13592|
|            OR| 9186|
|            ME| 2263|
+--------------+-----+

In [ ]:
#Exportar os dados tratados
(
    orders_data
    .write
    .parquet('orders_data_clean.parquet',mode='overwrite')
)